<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="icon" type="image/png" href="~/resources/web.ico">
    <link rel="shortcut icon" type="image/x-icon" href="~/resources/web.ico" />

    <title>@ViewBag.Title - Missions Youtube Links</title>

    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Missions Youtube Links", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { @id = "btn_home" })</li>

                    @{
                        var _admin = Session["admin"];

                        if (_admin != null)
                        {
                            <li>@Html.ActionLink("Missions", "Index", "Missions", routeValues: null, htmlAttributes: new { @id = "btn_missions" })</li>
                            <li>@Html.ActionLink("Users", "Index", "Users", routeValues: null, htmlAttributes: new { @id = "btn_users" })</li>
                        }
                    }

                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Logs", "Index", "Logs")</li>
                    @{
                        if (_admin == null)
                        {
                            <li>@Html.ActionLink("Login", "Login", "Users")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Logout", "Logout", "Users")</li>
                        }
                    }

                    @{
                        var version = "Version - " + @Session["version"];
                        <li id="lblversion">@Html.ActionLink(version.ToString(), null)</li>
                    }

                    @{
                        var _loggedinuser = Session["loggedinuser"];
                        if (_loggedinuser != null)
                        {
                            var loggedinuser = "  " + @Session["loggedinuser"];
                            <li id="lblloggedinuser">@Html.ActionLink(loggedinuser.ToString(), null)</li>
                        }

                    }

                </ul>

            </div>
        </div>
    </div>

    <div class="container body-content">

        @if (TempData["success_message"] != null)
        {
            var msg = TempData["success_message"];
            <div class="alert alert-success alert-dismissable show" role="alert">
                <strong>@msg</strong>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        @if (TempData["create_message"] != null)
        {
            var msg = TempData["create_message"];
            <div class="alert alert-success alert-dismissable show" role="alert">
                <strong>@msg</strong>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        @if (TempData["update_message"] != null)
        {
            var msg = TempData["update_message"];
            <div class="alert alert-success alert-dismissable show" role="alert">
                <strong>@msg</strong>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (TempData["delete_message"] != null)
        {
            var msg = TempData["delete_message"];
            <div class="alert alert-success alert-dismissable show" role="alert">
                <strong>@msg</strong>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        @if (TempData["error_message"] != null)
        {
            var msg = TempData["error_message"];
            <div class="alert  alert-danger alert-dismissable show" role="alert">
                <strong>@msg</strong>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (TempData["validation_message"] != null)
        {
            var msg = TempData["validation_message"];
            <div class="alert  alert-danger alert-dismissable show" role="alert">
                <strong>@msg</strong>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        <div id="progress_bar" class="progress-bar progress-bar-striped indeterminate"></div>

        @RenderBody()

        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - Missions Youtube Links</p>
        </footer>

    </div>

    <div id="div_messages"></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {

            $(".alert").delay(60000).fadeOut(10000, function () {
                $(this).remove();
            })

            get_messages();

            var interval = setInterval(get_messages, 1000);

            function get_messages() {

                $.getJSON('@Url.Action("get_messages", "Home")',
                                   {
                                   }, function (logs) {

                                       if (logs != null && !jQuery.isEmptyObject(logs)) {

                                           var row = "";
                                           $.each(logs, function (index, log) {

                                               var _id = log.id;
                                               var _message = log.message;
                                               var _timestamp = log.timestamp;
                                               var _tag = log.tag;

                                               row += "<div class='messagesCard'>";

                                               row += "<div class='details_container'>";
                                               row += "<p class='message_details'>" + _id + "</p>";
                                               row += "<p class='message_details'>" + _message + "</p>";
                                               row += "<p class='message_details'>" + _timestamp + "</p>";
                                               row += "<p class='message_details'>" + _tag + "</p>";
                                               row += "</div>";

                                               row += "</div>";

                                           })

                                           $("#div_messages").html(row);
                                       }

                                   });
            }

            function Logout() {
                try {

                    $.ajax({
                        url: '@Url.Action("Logout", "Users")',
                        type: 'POST',
                        success: function (data) {
                            console.log(data);
                        }
                    });

                } catch (error) {
                    console.error(error);
                }
            }


        });
    </script>

</body>
</html>
