@model missions_youtube_links.Entities.missions_links_dto

@{
    ViewBag.Title = "Edit Mission link";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">Edit Mission link</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ensure all required fields are filled.</legend>


        <article>
            <div class="pad">

                <div class="form-group">
                    @Html.LabelFor(model => model.youtube_url, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.youtube_url, new { htmlAttributes = new { @required = "required", @class = "form-control", @placeholder = "Youtube Url" } })
                    @Html.ValidationMessageFor(model => model.youtube_url, "", new { @class = "lbl_error text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.description, new { htmlAttributes = new { @required = "required", @class = "form-control", @placeholder = "Description" } })
                    @Html.ValidationMessageFor(model => model.description, "", new { @class = "lbl_error text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.location, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.location, new { htmlAttributes = new { @required = "required", @class = "form-control", @placeholder = "Location" } })
                    @Html.ValidationMessageFor(model => model.location, "", new { @class = "lbl_error text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.mission_type, htmlAttributes: new { @class = "form-label" })
                    @*@Html.EditorFor(model => model.mission_type, new { @required = "required", @class = "form-control", @placeholder = "Mission Type" })*@
                    @Html.DropDownListFor(model => model.mission_type, new SelectList(Model.mission_types, "Value", "Text"), new { @class = "form-control", @id = "cbomission_types" })
                    @Html.ValidationMessageFor(model => model.mission_type, "", new { @class = "lbl_error text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.mission_year, htmlAttributes: new { @class = "form-label" })
                    @*@Html.EditorFor(model => model.mission_year, new { @required = "required", @class = "form-control" })*@
                    @Html.DropDownListFor(model => model.mission_year, new SelectList(Model.mission_years, "Value", "Text"), new { @class = "form-control", @id = "cboyears" })
                    @Html.ValidationMessageFor(model => model.mission_year, "", new { @class = "lbl_error text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.mission_month, htmlAttributes: new { @class = "form-label" })
                    @*@Html.EditorFor(model => model.mission_month, new { @required = "required", @class = "form-control" })*@
                    @Html.DropDownListFor(model => model.mission_month, new SelectList(Model.mission_months, "Value", "Text"), new { @class = "form-control", @id = "cbomonths" })
                    @Html.ValidationMessageFor(model => model.mission_month, "", new { @class = "lbl_error text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.mission_day, htmlAttributes: new { @class = "form-label" })
                    @*@Html.EditorFor(model => model.mission_day, new { @required = "required", @class = "form-control  btn-block" })*@
                    @Html.DropDownListFor(model => model.mission_day, new SelectList(Model.mission_days, "Value", "Text"), new { @class = "form-control", @id = "cbodays" })
                    @Html.ValidationMessageFor(model => model.mission_day, "", new { @class = "lbl_error text-danger" })
                </div>

            </div>
        </article>


        <div class="form-group div_btn">
            <input type="submit" value="Update" class="btn btn-success btn_class" />
            @Html.ActionLink("Missions", "Index", "Missions", null, new { @class = "btn btn-primary btn_class" })
        </div>

    </fieldset>
}

 
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {

            $(".alert").delay(5000).fadeOut(5000, function () {
                $(this).remove();
            })

            $("#youtube_url").focus();
         
            $("#mission_month").on("change",function () {
                var selectedyear = $("#mission_year").val();
                var selectedmonth = $("#mission_month").val();
                var cbodays = $("#mission_day");
                cbodays.empty();
                if (selectedyear != null && selectedyear != '' && selectedmonth != null && selectedmonth != '') {
                    &.getJSON("@Url.Action("getmonthdays")",
                        {
                            year: selectedyear,
                            month: selectedmonth
                        }, function(days){
                            console.log(days);
                            if(days != null && !jQuery.isEmptyObject(days))
                            {
                                $.each(days, function(index, day){
                                    console.log(day);
                                    console.log(index);
                                    cbodays.append($('<option/>', {
                                        value: day.Value,
                                        text: day.Text
                                    }))
                                })
                            }
                        }

                        )
                }
            });
        });

    </script>
}
